body { 
    background-color: lightgray;
    }
#Department_Logo{
        margin: 13px;
        padding: 10px;
        border:#006633 5px solid;
        background-color: #FFCC33;
        box-shadow:-30px 30px 30px yellowgreen;}
h1 {
    color:#006633;}
.survey{
    text-align: center;
    border: #FFCC33 8px solid;
    }
.Table_Names{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: #ffcc33;
    }
